.about-background {
  background-image: url("../Assets/labitUMM.jpg");
  background-size: cover;
  height: 100vh;
}

li {
  list-style: none;
}
.title {
  font-size: 24px;
}
.description {
  font-size: 12px;
  color: grey;
}
