.hero-background {
  background-image: url("../Assets/hero.jpg");
  background-size: cover;
  height: 100vh;
}

.logo-facebook {
  margin-right: 15px;
}

.logo-twitter {
  margin-right: 10px;
}

.logo-instagram {
  margin-right: 10px;
}
h5 {
  color: lightgray;
  font-weight: 400;
}
